<nav class="navbar navbar-expand-lg bg-body-tertiary ps-4 pe-4">
  <div class="container-fluid">
    <a href="#" class="navbar-brand p-2">Recipe Book</a>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <ul class="nav-item">
          <a class="nav-link" href="#" (click)="onSelect('recipe')">Recipes</a>
        </ul>

        <li class="nav-item">
          <a class="nav-link" href="#" (click)="onSelect('shopping-list')"
            >Shopping List</a
          >
        </li>
      </ul>
      <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Menu
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Save Data</a></li>
            <li><a class="dropdown-item" href="#">Fetch Data</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
