.backdrop {
  position:fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #000000bf;
  z-index: 50;
}

.alert-box {
  position: fixed;
  top: 30%;
  left: 35%;
  width: 30%;
  background: #f1f1f1;
  padding: 16px;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  z-index: 100;
}

.alert-box-actions {
    text-align: center;
}
