.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .text-container {
    flex-grow: 1;
    margin-right: 20px;
  }
  
  .image-container {
    flex-shrink: 0;
  }
  
  .img-responsive {
    max-height: 70px;
  }
  