/* You can add global styles to this file, and also import other style files */
a {
  cursor: pointer;
}
html,
body {
  background-color: #f8f6f0 !important;
}

.uspeh {
  background-color: #2b642b;
  color: white;
}
.uspeh:hover {
  background-color: #4f8f4f;
  color: #f5f5f5;
}

.osnovno {
  background-color: #29588f;
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.osnovno:hover {
  background-color: #1a3b5c;
  color: #ffffff;
}

.opasno {
  background-color: #a82824;
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.opasno:hover {
  background-color: #8f1f1b;
  color: #ffffff;
}